.slick-dots {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
}

.slick-dots li:not(:last-child) {
  margin-right: 12px;
}

.slick-dots .slick-active {
  background-color: var(--accent-color);
}

:root {
  --regular-font: "Gilroy-Regular";
  --medium-font: "Gilroy-Medium";
  --semibold-font: "Gilroy-Semibold";
  --bold-font: "Gilroy-Bold";
  --extrabold-font: "Gilroy-Extrabold";
  --inter-font: "Inter";
  --main-color: #1d2530;
  --accent-color: #685ed6;
  --black-color: #000000;
  --rewiews-color: #18191f;
  --footer-color: #eeeff4;
  --white-color: #ffffff;
  --placeholder-color: #474a57;
  --rare-color: #212121;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.eot");
  src: local(""), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local(""), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local(""), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.eot");
  src: local(""), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local(""), url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
}

.header {
  background: rgba(242, 247, 255, 0.5);
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.header__logo-name {
  margin-left: 1px;
  font-family: var(--bold-font);
  font-size: 20px;
  line-height: 1;
  /* identical to box height, or 100% */
}

@media screen and (min-width: 768px) {
  .header__logo-name {
    font-family: var(--bold-font);
    font-size: 28px;
    line-height: 0.75;
    /* or 75% */
  }
}

.header__btn {
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 105;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__btn-icon {
  position: relative;
  z-index: 105;
  width: inherit;
  height: inherit;
}

@media screen and (max-width: 767.98px) {
  .header__btn-block {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__btn-block {
    display: flex;
  }
  .header__btn-tabl {
    padding: 10px 20px;
    font-family: var(--bold-font);
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */
    border-radius: 6px;
  }
  .header__btn-tabl--enter {
    margin-right: 11px;
    background-color: #f1e4ff;
    color: var(--accent-color);
  }
  .header__btn-tabl--reg {
    background-color: var(--accent-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    color: var(--white-color);
  }
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    color: #1d2530;
  }
  .nav__link {
    padding: 0 12px;
  }
}

.title {
  font-family: var(--extrabold-font);
  font-size: 32px;
  line-height: 1.25;
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 46px;
    line-height: 0.67;
    /* identical to box height, or 67% */
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: var(--regular-font);
  font-size: 14px;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul li {
  margin-top: 0;
  margin-right: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 23px;
  padding-left: 23px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1110px;
    padding-right: 0;
    padding-left: 0;
  }
}

.hero {
  background: rgba(242, 247, 255, 0.5);
  backdrop-filter: blur(100px);
  padding-top: 25px;
  padding-bottom: 4px;
}

.hero__container--block {
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
  }
}

.hero__title {
  max-width: 245px;
  margin-bottom: 32px;
  font-family: var(--extrabold-font);
  font-size: 32px;
  line-height: 1.25;
  /* or 125% */
}

@media screen and (min-width: 1440px) {
  .hero__title {
    max-width: 383px;
    font-size: 50px;
    line-height: 1.2;
    /* or 120% */
  }
}

.hero__title--change-color {
  color: var(--accent-color);
}

.hero__content {
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
}

@media screen and (min-width: 768px) {
  .hero__content {
    min-width: 270px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__content {
    min-width: 482px;
    font-size: 24px;
    line-height: 1.42;
    /* or 142% */
  }
}

.hero__content--color {
  color: var(--accent-color);
  font-family: var(--bold-font);
}

.hero__btn {
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 1.33;
  /* identical to box height, or 133% */
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 12px 32px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

@media screen and (min-width: 1440px) {
  .hero__picture {
    position: relative;
    right: 100px;
  }
}

.hero__content-item:nth-child(3) {
  margin-top: 32px;
}

.about {
  background: rgba(242, 247, 255, 0.5);
  backdrop-filter: blur(100px);
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__container {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .about__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1439.98px) {
  .about__container {
    justify-content: space-between;
  }
}

.about__title {
  margin-bottom: 40px;
}

.about__list {
  margin-bottom: 24px;
}

.about__item {
  position: relative;
  padding-left: 60px;
}

.about__item:not(:last-child) {
  margin-bottom: 16px;
}

.about__item-title {
  margin-bottom: 4px;
  font-family: var(--semibold-font);
  font-size: 20px;
  line-height: 1.6;
}

@media screen and (min-width: 1440px) {
  .about__item-title {
    font-size: 24px;
    line-height: 1.33;
    /* identical to box height, or 133% */
  }
}

.about__item-text {
  max-width: 271px;
  font-family: var(--regular-font);
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 0;
  /* or 162% */
}

.about__item-icon {
  position: absolute;
  top: 30%;
  left: 0;
  margin-right: 18px;
}

.about__item-icon--top {
  top: 15%;
}

.about__rules {
  margin: 0 auto;
  padding-bottom: 38px;
  position: relative;
  z-index: 100;
  padding-top: 85px;
  padding-left: 68px;
  padding-right: 17px;
  max-width: 310px;
  font-family: var(--regular-font);
  font-size: 9px;
  line-height: 1.22;
  /* or 122% */
  color: var(--black-color);
}

@media screen and (min-width: 1440px) {
  .about__rules {
    margin-left: 170px;
    font-size: 11px;
    line-height: 1.36;
    /* or 136% */
  }
}

.about__rules-item {
  max-width: 194px;
  padding: 5px;
  background: #effcde;
  box-shadow: 0px 2.91986px 7.29964px rgba(142, 142, 147, 0.25);
  border-radius: 3px;
}

.about__rules-item:not(:last-child) {
  margin-bottom: 5px;
}

.about__rules-item:nth-child(even) {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .about__rules-item:nth-child(even) {
    margin-left: 30px;
  }
}

.about__rules-img {
  z-index: -1;
  position: absolute;
  top: 0;
}

.container__about--block {
  margin: 0 auto;
}

.tariffs {
  padding-top: 54px;
  padding-bottom: 54px;
  text-align: center;
}

.tariffs__title {
  margin-bottom: 8px;
}

.tariffs__pretitle {
  margin-bottom: 32px;
  max-width: 214px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--bold-font);
  font-size: 20px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .tariffs__pretitle {
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .tariffs__pretitle {
    font-size: 24px;
    line-height: 1.33;
    /* identical to box height, or 133% */
  }
}

.tariffs__item {
  padding-bottom: 50px;
  margin-bottom: 24px;
  background: #fcfeff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .tariffs__item {
    max-width: 330px;
  }
  .tariffs__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .tariffs__item {
    max-width: 350px;
  }
}

.tariffs__item-title {
  padding-top: 6px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-width: 330px;
  font-family: var(--bold-font);
  font-size: 24px;
  line-height: 2;
  /* identical to box height, or 200% */
  color: var(--accent-color);
  background: rgba(104, 94, 214, 0.05);
}

.tariffs__item-pretitle {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  margin-bottom: 32px;
  font-family: var(--bold-font);
  font-size: 28px;
  line-height: 1.43;
  /* or 143% */
}

.tariffs__item-price {
  margin-bottom: 46px;
  font-family: var(--medium-font);
  font-size: 20px;
  line-height: 1.5;
  /* identical to box height, or 150% */
}

.tariffs__item-btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 57.5px;
  padding-left: 57.5px;
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 1.33;
  /* identical to box height, or 133% */
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.dots--item {
  display: inline-block;
  opacity: 0.5;
  /* violet */
  width: 10px;
  height: 10px;
  border: 1px solid #685ed6;
  border-radius: 50px;
  margin-left: 5px;
}

.connection {
  background-image: url(../../images/bg.png);
  background-position: bottom;
  background-size: 100% 45%;
  background-repeat: no-repeat;
  padding-bottom: 26px;
}

.connection__container {
  text-align: center;
}

.connection__title {
  margin: 0 auto;
  max-width: 331px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1439.98px) {
  .connection__title {
    max-width: 491px;
  }
}

@media screen and (min-width: 1440px) {
  .connection__title {
    min-width: 100%;
    margin-bottom: 56px;
    line-height: 1.39;
  }
}

.connection__item {
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 24px;
}

.connection__item:nth-child(2) {
  margin-top: 53px;
}

.connection__number {
  margin-bottom: 16px;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 25px;
  width: 72px;
  height: 72px;
  border-radius: 50px;
  background: #f1e4ff;
  border-radius: 100px;
  font-family: var(--bold-font);
  font-size: 30px;
  line-height: 1;
  /* or 100% */
  color: var(--accent-color);
}

.connection__item-title {
  margin-bottom: 4px;
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 1.56;
}

.connection__text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.57;
  /* or 157% */
}

@media screen and (min-width: 768px) {
  .connection__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 210px;
  }
}

.connection__img {
  display: inline-block;
}

.connection .slick-slide img {
  display: inline-block;
}

.reviews {
  background: rgba(242, 247, 255, 0.5);
  backdrop-filter: blur(100px);
  padding-top: 60px;
  padding-bottom: 51px;
  background-repeat: no-repeat;
  background-position: 97% 20px;
  background-image: url(../images/kawuchi.png);
}

@media screen and (min-width: 768px) {
  .reviews {
    background-image: url(../images/kawuchi2.png);
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    background-image: url(../images/kawuchi3.png);
  }
}

.reviews__title {
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .reviews__title {
    margin-bottom: 48px;
  }
}

.reviews--cloud {
  max-width: 540px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.reviews__item-title {
  margin-bottom: 8px;
  font-family: var(--inter-font);
  font-size: 18px;
  line-height: 1.56;
  color: var(--rewiews-color);
}

.reviews__item-text {
  min-width: 288px;
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--rewiews-color);
}

.reviews__name {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 16px;
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 1.56;
}

.reviews__mail {
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
}

.reviews__photo {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}

.reviews--cloud {
  margin: 0 auto;
  position: relative;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* Dark Shadow */
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  background-repeat: no-repeat;
}

.reviews--cloud::before {
  position: absolute;
  content: "";
  background-image: url(../../images/figure.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 19px;
  right: 50%;
  bottom: -19px;
}

.reviews--persone {
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: nowrap;
  max-width: 223px;
}

.dots--reviews {
  text-align: center;
}

.send {
  padding-top: 54px;
  padding-bottom: 54px;
}

.send__title {
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 280px;
  font-family: var(--bold-font);
  font-size: 24px;
  line-height: 32px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .send__title {
    min-width: 321px;
  }
}

@media screen and (min-width: 1440px) {
  .send__title {
    font-size: 33px;
    line-height: 1.24;
    /* or 124% */
    min-width: 445px;
  }
}

.send__input {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 4px;
  background: #f4f5f7;
  border-radius: 5px 0px 0px 5px;
  border: none;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .send__input {
    min-width: 210px;
  }
}

@media screen and (min-width: 1440px) {
  .send__input {
    min-width: 248px;
  }
}

.send__btn {
  width: 120px;
  padding: 12px 24px;
  font-family: var(--bold-font);
  font-size: 14px;
  line-height: 1.43;
  color: var(--white-color);
  background-color: #18191f;
  border-radius: 0px 5px 5px 0px;
  /* identical to box height, or 143% */
}

.send--form {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .send--form {
    justify-content: start;
  }
}

.send--block {
  margin: 0 auto;
  max-width: 329px;
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 40px 30px;
}

@media screen and (min-width: 768px) {
  .send--block {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #1d2530;
}

.footer__container {
  display: flex;
}

@media screen and (max-width: 1439.98px) {
  .footer__container {
    justify-content: space-between;
  }
}

.footer__logo {
  margin-right: 33px;
}

@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-right: 392px;
  }
}

.footer__logo-name {
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 0.75;
  /* identical to box height, or 75% */
  color: var(--white-color);
}

.footer__list {
  font-family: var(--regular-font);
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  color: rgba(238, 239, 244, 0.719);
}

@media screen and (min-width: 768px) {
  .footer__megalist {
    display: flex;
    justify-content: space-between;
    min-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .footer__megalist-item {
    width: calc((100% - 24px / 2) / 2);
  }
}

.footer .footer__megalist-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer .footer__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__list--title {
  margin-bottom: 16px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  color: #f4f5f7e5;
}

.copyright {
  background: #141b23;
}

.copyright__text {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  color: #d9dbe1;
}

.icon--close {
  display: none;
}

.is-open .icon--close {
  display: block;
}

.is-open .icon--open {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -150%;
  width: 100%;
  z-index: 100;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  transition: left 0.5s;
}

.mobile-menu.is-open {
  left: 0;
}

.mobile-menu__list {
  padding-top: 76px;
  padding-right: 30px;
  font-family: var(--bold-font);
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sircle1 {
  width: 40px;
  height: 30px;
  background-color: lawngreen;
}

.sircle2 {
  width: 40px;
  height: 30px;
  background-color: red;
}

.sircle3 {
  width: 40px;
  height: 30px;
  background-color: blue;
}

.mobile-menu__author {
  margin: 0 auto;
  min-width: 177px;
  padding-top: 28px;
}

.mobile-menu__author-btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--bold-font);
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */
}

.mobile-menu__author-item:first-child .mobile-menu__author-btn {
  background: #f1e4ff;
  border-radius: 6px;
  margin-bottom: 11px;
}

.mobile-menu__author-item:last-child .mobile-menu__author-btn {
  background: var(--accent-color);
  border-radius: 6px;
  color: var(--white-color);
}

.inactive--menu {
  display: none;
}
/*# sourceMappingURL=styles.css.map */