:root {
  --regular-font: "Gilroy-Regular";
  --medium-font: "Gilroy-Medium";
  --semibold-font: "Gilroy-Semibold";
  --bold-font: "Gilroy-Bold";
  --extrabold-font: "Gilroy-Extrabold";
  --inter-font: "Inter";
  --main-color: #1d2530;
  --accent-color: #685ed6;
  --black-color: #000000;
  --rewiews-color: #18191f;
  --footer-color: #eeeff4;
  --white-color: #ffffff;
  --placeholder-color: #474a57;
  --rare-color: #212121;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.eot");
  src: local(""), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local(""), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local(""), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.eot");
  src: local(""), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local(""), url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
}

.header {
  background-color: lawngreen;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.header__logo-img {
  width: 39px;
  height: 28px;
}

.header__logo-name {
  margin-left: 1px;
  font-family: var(--bold-font);
  font-size: 20px;
  line-height: 1;
  /* identical to box height, or 100% */
}

.header__btn {
  width: 30px;
  height: 18px;
}

.header__btn-icon {
  width: inherit;
  height: inherit;
}

.title {
  font-family: var(--extrabold-font);
  font-size: 32px;
  line-height: 1.25;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: var(--regular-font);
  font-size: 14px;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul li {
  margin-top: 0;
  margin-right: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 23px;
  padding-left: 23px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=styles.css.map */