.slick-dots {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  button {
    display: none;
  }
  li {
    width: 10px;
    height: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 50px;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  .slick-active {
    background-color: var(--accent-color);
  }
}
