:root {
  --regular-font: "Gilroy-Regular";
  --medium-font: "Gilroy-Medium";
  --semibold-font: "Gilroy-Semibold";
  --bold-font: "Gilroy-Bold";
  --extrabold-font: "Gilroy-Extrabold";
  --inter-font: "Inter";

  --main-color: #1d2530;
  --accent-color: #685ed6;
  --black-color: #000000;
  --rewiews-color: #18191f;
  --footer-color: #eeeff4;
  --white-color: #ffffff;
  --placeholder-color: #474a57;
  --rare-color: #212121;
}
