.connection {
  background-image: url(../../images/bg.png);
  background-position: bottom;
  background-size: 100% 45%;
  background-repeat: no-repeat;
  padding-bottom: 26px;
  &__container {
    text-align: center;
    padding-right: 0;
  }
  &__title {
    margin: 0 auto;
    max-width: 331px;
    margin-bottom: 24px;
  }
  &__item {
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 24px;
  }
  &__number {
    margin-bottom: 16px;
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 25px;
    width: 72px;
    height: 72px;
    border-radius: 50px;
    background: #f1e4ff;
    border-radius: 100px;
    font-family: var(--bold-font);
    font-size: 30px;
    line-height: 1;
    /* or 100% */
    color: var(--accent-color);
  }
  &__item-title {
    margin-bottom: 4px;
    font-family: var(--bold-font);
    font-size: 18px;
    line-height: 1.56;
  }
  &__text {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1.57;
    /* or 157% */
  }
  &__img {
    display: inline-block;
  }
}
.connection--dots {
  margin-bottom: 26px;
}
