.reviews {
  background: rgba(242, 247, 255, 0.5);
  backdrop-filter: blur(100px);
  padding-top: 60px;
  padding-bottom: 51px;
  background-image: url(../../images/kawuchi.png);
  background-repeat: no-repeat;
  background-position: 97% 20px;
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &--cloud {
    max-width: 540px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 39px;
    padding-right: 20px;
    padding-left: 20px;
  }
  &__item-title {
    margin-bottom: 8px;
    font-family: var(--inter-font);
    font-size: 18px;
    line-height: 1.56;
    color: var(--rewiews-color);
  }
  &__item-text {
    min-width: 288px;
    font-family: var(--regular-font);
    font-size: 14px;
    line-height: 1.71;
    color: var(--rewiews-color);
  }
  &__name {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 16px;

    font-family: var(--bold-font);
    font-size: 18px;
    line-height: 1.56;
  }
  &__mail {
    font-family: var(--regular-font);
    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */
  }
  &__photo {
    width: 56px;
    height: 56px;
    border-radius: 50px;
  }
}

.reviews--cloud {
  position: relative;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* Dark Shadow */

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  //   background-image: url(../../images/cloud.png);
  //   box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  background-repeat: no-repeat;
  // padding-top: 32px;
  // padding-bottom: 59px;
  // padding-right: 20px;
  // padding-left: 20px;
}
.reviews--cloud::before {
  position: absolute;
  content: "";
  background-image: url(../../images/figure.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 19px;
  right: 50%;
  bottom: -19px;
}

.reviews--persone {
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: nowrap;
  max-width: 173px;
}
.dots--reviews {
  text-align: center;
}
