.tariffs {
  padding-top: 54px;
  padding-bottom: 54px;
  text-align: center;
  &__title {
    margin-bottom: 8px;
  }
  &__pretitle {
    margin-bottom: 32px;
    max-width: 214px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--bold-font);
    font-size: 20px;
    line-height: 1.4;
    @media screen and (min-width: 768px) {
      max-width: 100%;
    }
    @media screen and (min-width: 1440px) {
      font-size: 24px;
      line-height: 1.33;
      /* identical to box height, or 133% */
    }
  }
  &__list {
  }
  &__item {
    padding-bottom: 50px;
    margin-bottom: 24px;
    background: #fcfeff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    @media screen and (min-width: 768px) {
      max-width: 330px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @media screen and (min-width: 1440px) {
      max-width: 350px;
    }
  }
  &__item-title {
    padding-top: 6px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-width: 330px;
    font-family: var(--bold-font);
    font-size: 24px;
    line-height: 2;
    /* identical to box height, or 200% */
    color: var(--accent-color);
    background: rgba(104, 94, 214, 0.05);
  }
  &__item-pretitle {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    margin-bottom: 32px;
    font-family: var(--bold-font);
    font-size: 28px;
    line-height: 1.43;
    /* or 143% */
  }
  &__item-price {
    margin-bottom: 46px;
    font-family: var(--medium-font);
    font-size: 20px;
    line-height: 1.5;
    /* identical to box height, or 150% */
  }
  &__item-btn {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 57.5px;
    padding-left: 57.5px;
    font-family: var(--bold-font);
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }
}

.dots--item {
  display: inline-block;
  opacity: 0.5;
  /* violet */
  width: 10px;
  height: 10px;
  border: 1px solid #685ed6;
  border-radius: 50px;
  margin-left: 5px;
}
